body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    color: rgb(0, 252, 168);
}
.name-highlight{
    color:rgb(255, 165, 47);
}
.half-width{
    width: 40%;
    float: left;
    margin: 5%;
    padding-left: 2%;
    margin-right: 2%;
}

.half-width img{
    width: 100%;
    
}
.top-part{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
section{
    height: 500%;
}